#dotHerndon {
  position: absolute;
  display: block;
  top: 56%;
  left: 32.5%;
  z-index: 0;
  color: steelblue;
}

#dotNYC {
  position: absolute;
  display: block;
  top: 54.5%;
  left: 33%;
  z-index: 0;
  color: steelblue;
}

#dotMI {
  position: absolute;
  display: block;
  top: 53.5%;
  left: 31.5%;
  z-index: 0;
  color: steelblue;
}

#dotIL {
  position: absolute;
  display: block;
  top: 54%;
  left: 30.5%;
  z-index: 0;
  color: crimson;
}

#dotIceland {
  position: absolute;
  display: block;
  top: 35%;
  left: 44%;
  z-index: 0;
  color: steelblue;
}

#dotBrazil {
  position: absolute;
  display: block;
  top: 80%;
  left: 40%;
  z-index: 0;
  color: steelblue;
}

#dotCancun {
  position: absolute;
  display: block;
  top: 66%;
  left: 30.5%;
  z-index: 0;
  color: steelblue;
}

#dotCostaRica {
  position: absolute;
  display: block;
  top: 69%;
  left: 31.5%;
  z-index: 0;
  color: steelblue;
}

#dotLondon {
  position: absolute;
  display: block;
  top: 46%;
  left: 47.5%;
  z-index: 0;
  color: steelblue;
}

#dotBudapest {
  position: absolute;
  display: block;
  top: 51%;
  left: 51%;
  z-index: 0;
  color: steelblue;
}

#dotGreece {
  position: absolute;
  display: block;
  top: 55%;
  left: 52%;
  z-index: 0;
  color: steelblue;
}

#dotIstanbul {
  position: absolute;
  display: block;
  top: 54%;
  left: 53%;
  z-index: 0;
  color: steelblue;
}

#dotKenya {
  position: absolute;
  display: block;
  top: 74%;
  left: 55%;
  z-index: 0;
  color: steelblue;
}

#dotBombay {
  position: absolute;
  display: block;
  top: 66%;
  left: 62%;
  z-index: 0;
  color: steelblue;
}

#dotAlwar {
  position: absolute;
  display: block;
  top: 63%;
  left: 62.5%;
  z-index: 0;
  color: steelblue;
}

#dotJapan {
  position: absolute;
  display: block;
  top: 55%;
  left: 74.5%;
  z-index: 0;
  color: steelblue;
}

#dotDubai {
  position: absolute;
  display: block;
  top: 63%;
  left: 58%;
  z-index: 0;
  color: steelblue;
}
